[user]
	name = Dzmitry Duleba
 	email = dzmitry.duleba@apalon.com
 	signingkey = 4A09D6D022CE7D2D
[github]
	user = ddomovoj
[core]
	excludesfile = ~/.gitignore
[rerere]
	enabled = true
[pull]
	rebase = true
[status]
	showStash = true
[rebase]
	autostash = true
	autosquash = true
	abbreviateCommands = true
[stash]
	showPatch = true
[push]
	default = current
[mergetool]
	prompt = false
[tig "color"]
	cursor = default default reverse
	id = yellow default
	title-focus = black green reverse
	author = white default
	date = cyan default
